.navbar {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);

    .navbar-brand img {
        max-width: 5rem;
        filter: $filter-to-black;
    }

    .navbar-nav {
        flex-direction: row;

        .nav-item .nav-link {
            color: $text-color;
            font-size: $default-font-size;
            font-family: $text-font;
            text-decoration: none;
            transition: $default-color-transition;
            margin-left: 1.5rem;

            &:hover,
            &:focus,
            &:active {
                color: $primary;
            }
        }
    }

    .btn-inline {
        border: none;

        &:hover,
        &:focus,
        &:active {
            border: none;
        }
    }
}