//heading
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 700;
}

h1 {
    font-size: $default-heading-size;
}

h2 {
    font-size: $default-heading-size - 12px;
}

h3 {
    font-size: $default-heading-size - 16px;
}

a {
    text-decoration: none;
    color: $text-color;
    transition: $default-color-transition;

    &:hover,
    &:focus,
    &:active {
        color: $primary;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $primary;
            text-decoration: none;
            transition: $default-color-transition;
        }
    }
}

//text
p,
input,
textarea {
    font-family: $text-font;
    font-size: $default-font-size;
}