//colors
$primary: #379237;
$secondary: #A27B5C;
$warning: #CC3636;
$text-color: #222;

//fonts
$heading-font: "Libre Baskerville", sans-serif;
$text-font: "Work Sans", sans-serif;
$default-font-size: 16px;
$default-heading-size: 35px;

//transition & animation
$default-color-transition: all 0.2s ease-in-out;

//filter
$filter-to-black: brightness(0%);